.homepage-hero-content {
	margin: 0 auto;
}

.text-shadow {
	text-shadow: 4px 4px 12px rgba(0, 0, 0, 1);
}

.homepage-search {
	margin: 0 auto;
	padding: 24px;
	max-width: 600px;
}

.hometitle {
	color: #fff;
}

.jumbotron h1 {
	font-size: 74px;
	margin-bottom: 12px;
}

.padding-left {
	padding-left: 5px;
}

.container {
	max-width: 100%;
}

.typeahead,
.tt-query,
.tt-hint,
.twitter-typeahead,
.typeahead:focus {
	width: 100%;
}

.homepage-hero {
	background-size: cover !important;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	border: 1px solid #e7e7e7;
	background-color: #f3f3f3;
}

ul.a {
	list-style-type: circle;
	margin: 0;
	padding-left: 20px; 
	padding-right: 2px; 
	border: none;
	overflow: visible;
	background-color: transparent;
}

ul.b {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	border: 1px solid transparent;
	background-color: transparent;
}

li {
	float: left;
}

li a{
	display: block;
	color: #666;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li.b {
	display: list-item;
	float: none;
	text-align: left;
	padding: 0px 0px;
}
li.a:hover:not(.active) {
	background-color: #ddd;
}

li.a.active {
	color: white;
	background-color: #b2b2b2;
}

.card {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	max-width: 300px;
	margin: auto;
	padding: 16px;
	text-align: center;
	font-family: arial;
	background-color: #f1f1f1;
}

.card button {
	border: none;
	outline: 0;
	padding: 12px;
	color: rgb(16, 16, 16);
	background-color: rgba(0, 0, 0, 0.29);
	text-align: center;
	cursor: pointer;
	width: 100%;
	font-size: 18px;
}

.card button:hover {
	opacity: 0.7;
}

* {
	box-sizing: border-box;
}

.body {
	font-family: Arial, Helvetica, sans-serif;
}

/* Float four columns side by side */
.column {
	float: left;
	width: 25%;
	padding: 0 10px;
}

/* Remove extra left and right margins, due to padding in columns */
.row {
	margin: 0 -5px;
}

/* Clear floats after the columns */
.row:after {
	content: "";
	display: table;
	clear: both;
}

/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
	.column {
		width: 100%;
		display: block;
		margin-bottom: 20px;
	}
}