{% extends 'pages/base.html' %}
{% block content %}
<!doctype html>
<html lang="en">

<head>
    <style>
        legend {
            width: 50px;
            padding: 2px;
            margin-left: calc(50% - - 8px);
        }
    </style>
</head>

<body>
    <div class="jumbotron" style="padding: 1rem 1rem;">
        <div class="recipeentry" style="width:75%;margin: auto;">
            <form action="/add_recipe/" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <fieldset>
                    <div style="width:95%;">
                        <div style="float:left;width:100%;">
                            <a name="dataEntry"></a>
                            <div class="form-group" style="width:100%;">
                                <table align="center">
                                    <tr>
                                        <td> <label for="Title">Title </label></td>
                                        <td><input class="form-control" id="Title" maxlength="75" name="Title"
                                                placeholder="Recipe Title" style="width:100%;;font-size:12pt;"
                                                type="text" value="" /></td>
                                    </tr>
                                    <tr>
                                        <td> <label for="Subhead">Description </label></td>
                                        <td><textarea class="form-control" cols="20" id="Subhead" maxlength="2000"
                                                name="Subhead" rows="2"
                                                style="width:100% ;font-size:11pt;height:60px;"></textarea>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td> <label for="RecipePhoto">Recipe Photo </label></td>
                                        <td><input class="form-control" type="file" name="recipephoto" id="recipephoto" > 
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><label for="Source">Ingredients</label></td>
                                        <td><textarea class="form-control" cols="20" id="Ingredients" maxlength="3000"
                                                name="Ingredients" rows="10 "
                                                style="width:100%;font-size:11pt;height:60px;">
                                    </textarea></td>
                                    </tr>
                                    <tr>
                                        <td><label for="Source">Category</label></td>
                                        <td>
                                            <div id="categorize">
                                                <div id="catpicker">
                                                    <span style="float:left;width:100%;">
                                                        <select name = "category" title="category" class="form-control"
                                                            id="category"
                                                            style="width:100% ; text-align: center;" required>
                                                            <option value="0">---- Select Recipe Categoty ----</option>
                                                            {% if data.primaryrecipecategory == "Breakfast"%}
                                                            <option value="Breakfast" selected>Breakfast</option>
                                                            {% else %}
                                                            <option value="Breakfast">Breakfast</option>
                                                            {% endif %}
                                                            {% if data.primaryrecipecategory == "Brunch" %}
                                                            <option value="Brunch" selected>Brunch</option>
                                                            {% else %}
                                                            <option value="Brunch">Brunch</option>
                                                            {% endif %}
                                                            {% if data.primaryrecipecategory == "Lunch" %}
                                                            <option value="Lunch" selected>Lunch</option>
                                                            {% else %}
                                                            <option value="Lunch">Lunch</option>
                                                            {% endif %}
                                                            {% if data.primaryrecipecategory == "Dinner" %}
                                                            <option value="Dinner" selected>Dinner</option>
                                                            {% else %}
                                                            <option value="Dinner">Dinner</option>
                                                            {% endif %}
                                                            {% if data.primaryrecipecategory == "Dessert" %}
                                                            <option value="Dessert" selected>Dessert</option>
                                                            {% else %}
                                                            <option value="Dessert">Dessert</option>
                                                            {% endif %}
                                                        </select>
                                                    </span>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="padding-right:44px;">
                                            <label for="TotalHrs">TOTAL time </label>
                                        </td>
                                        <td>
                                            <input class="form-control" id="totalhrs" maxlength="5" name="totalhrs"
                                                style="width:150px;display:inline;" type="text" value="0" /> hrs
                                            <input class="form-control" id="totalmins" maxlength="5" name="totalmins"
                                                style="width:150px;display:inline;" type="text" value="0" /> min
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><label for="Instructions">Preparation </label></td>
                                        <td>
                                            <input class="form-control" cols="20"  maxlength="4000"
                                            id="instructions" rows="2" style="width:100%;height:280px;" type="text" name="instructions"/>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="7" align="center"><input type="submit" id="finalbutton"
                                                value="Submit">
                                        </td>
                                    </tr>

                                </table>
                            </div>
                        </div>
                </fieldset>
            </form>
        </div>
    </div>
</body>

</html>
{% endblock %}