<!doctype html>
<html lang="en">
<head>
    {% load static %}
    <!--Required meta tags-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static '/style.css' %}"/>
    <title>{%block title%}Romaine-Calm{% endblock %}</title>
</head>

<body>
   
        <div class="container">          
            <div class="jumbotron homepage-hero hidden-xs">
                <div class="homepage-hero-content">
                    {% if user.is_authenticated %}
                    <nav class="navbar navbar-expand-lg navbar-light bg-light">
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                          <div class="navbar-nav mr-auto">
                              <a class="nav-link" href="{% url 'home' %}">Home<span class="sr-only">(current)</span></a>
                              <a class="nav-link" href="{% url 'add_recipe' %}">Add Recipe</a>
                               <li><a class="nav-link" href="{% url 'recipes' %}">Find Recipe</a></li>
                                <a class="nav-link" href="{% url 'help' %}">Help</a>
                          </div>
                          <div class="btn-group">
                            <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              Profile
                            </button>
                            <div class="dropdown-menu">
                              <a class="dropdown-item" href="{% url 'profile' %}">View Profile</a>
                              <a class="dropdown-item" href="{% url 'edit_profile' %}">Edit Settings</a>
                              <a class="dropdown-item" href="{% url 'favorite' %}">Favorite</a>
                              <div class="dropdown-divider"></div>
                              <a class="dropdown-item" href="/logout">Logout</a>
                            </div>
                          </div>
                        </div>
                      </nav>
                    {% else %}
                    <nav class="navbar navbar-expand-lg navbar-light bg-light">
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <div class="navbar-nav mr-auto">
                                    <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
                                    <a class="nav-link" href="{% url 'news' %}">News</a>
                                    <a class="nav-link" href="{% url 'contact' %}">Contact</a>
                                    <a class="nav-link" href="{% url 'about' %}">About</a>
                            </div>
                                <div class="navbar-nav">
                                    <a class="nav-link" href="/login">Login</a>
                            </div>
                        </div>
                      </nav>

                    {% endif %}
                    
                    <h1 class="text-shadow hometitle centered"
                        style="color:#fff; background-color: #b2b2b2; font-weight: bold; text-align: center;">Romaine
                        Calm</h1>
                        <!--<div>
                            <form role="search">
                                <div class="input-group"
                                    style="background-color: #ffffff;border-radius:5px; z-index:0 !important;">
                                    <input type="text" class="typeahead search-input-button" id="txtSearch1"
                                        placeholder="Search recipes" autofocus=""
                                        style="text-indent: 4px;font-size: 21px;padding-left: 12px;z-index:1000; width:100% !important">
                                </div>
                            </form>
                        </div>
                    -->
                </div>
            </div>
        </div>
    </div>
    <!--Optional JavaScript-->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</body>
</html>
        <div id="content", name="content">
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>