<html>
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static '/style.css' %}"/>
    <title>{%block title%}Romaine-Calm{% endblock %}</title>
</head>
    <body>
        <!doctype html>
<body>
    <div class="wrapper">
        <div class="container">          
            <div class="jumbotron homepage-hero hidden-xs">
                <div class="homepage-hero-content">
                    {% if user.is_authenticated %}
                        <ul>
                            <li><a class="active" href="{% url 'home' %}">Home</a></li>
                            <li><a href="{% url 'profile' %}">My Profile</a></li>
                            <li><a href="{% url 'favorite' %}">Favorite</a></li>
                            <li><a href="{% url 'add_recipe' %}">Add Recipe</a></li>
                            <li><a href="{% url 'recipes' %}">Find Recipe</a></li><!-- This will be list of recipes to choose from-->
                            <li><a href="{% url 'help' %}">Help</a></li>
                            <li><a href="/logout">Logout</a></li>
                        </ul>
                    {% else %}
                        <ul>
                            <li><a class="active" href="{% url 'home' %}">Home</a></li>
                            <li><a href="{% url 'news' %}">News</a></li>
                            <li><a href="{% url 'contact' %}">Contact</a></li>
                            <li><a href="{% url 'about' %}">About</a></li>
                            <li><a href="/login">Login</a></li>
                        </ul> 
                    {% endif %}
                    
                    <h1 class="text-shadow hometitle centered"
                        style="color:#fff; background-color: #b2b2b2; font-weight: bold; text-align: center;">Romaine
                        Calm</h1>
                        <!--<div>
                            <form role="search">
                                <div class="input-group"
                                    style="background-color: #ffffff;border-radius:5px; z-index:0 !important;">
                                    <input type="text" class="typeahead search-input-button" id="txtSearch1"
                                        placeholder="Search recipes" autofocus=""
                                        style="text-indent: 4px;font-size: 21px;padding-left: 12px;z-index:1000; width:100% !important">
                                </div>
                            </form>
                        </div>
                    -->
                </div>
            </div>
        </div>
    </div>
    </div>
</body>
</html>
        <div id="content", name="content">
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>