{% extends 'pages/base.html' %}
<!doctype html>
<html lang="en">

<head>
    <link rel="stylesheet" href="./style.css">
</head>
<style>
    label {
        width: 180px;
        clear: left;
        text-align: left;
        padding-right: 10px;
    }

    input,
    label,
    textarea {
        float: left;

    }

    input[type=submit] {
        background-color: #a9acab;
        color: white;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        align-items: center;
    }


    table,
    tr,
    td {
        border: 1px solid black;
    }
</style>

<body align="center">
    <div class="Contactus" style="width:75%;margin: auto;">
        <form action="/recipe/post" method="post">
            <input name="__RequestVerificationToken" type="hidden" />
            <fieldset>
                <legend>
                    <h3>Contact Us</h3>
                </legend>

                <div>
                    <div>
                        <a name="dataEntry"></a>
                        <div class="form-group">
                            <table align="center">
                                <tr>
                                    <td> <label for="fname">First Name</label></td>
                                    <td> <input type="text" id="fname" name="firstname" placeholder="Your name.."></td>
                                </tr>
                                <tr>
                                    <td> <label for="lname">Last Name</label></td>
                                    <td><input type="text" id="lname" name="lastname" placeholder="Your last name..">
                                    </td>
                                </tr>
                                <tr>
                                    <td> <label for="email">Email</label></td>
                                    <td><input type="email" id="email" name="email" placeholder="Your Email.."></td>
                                </tr>
                                <tr>
                                    <td><label for="subject">Subject</label></td>
                                    <td><textarea id="subject" name="subject"
                                            placeholder="Write something.."></textarea></td>
                                </tr>
                                <th colspan="2" align="center">
                                    <td><input type="submit" value="Submit"></td>
                                </th>
                            </table>
                        </div>
                    </div>
                </div>
            </fieldset>
        </form>
</body>

</html>