{% extends 'pages/base.html' %}
<!doctype html>
<html lang="en">

<head>
    <link rel="stylesheet" href="../static/about.css">
</head>

<body align="center">
    <div class="aboutus" style="width:75%;margin: auto;">
        <form action="/recipe/post" method="post">
            <input name="__RequestVerificationToken" type="hidden" />
            <fieldset>
                <legend>
                   
                </legend>
                <div>
                    <h2 style="color: darkgrey;">Oops!</h2>
                    <h1 style="font-size: 145px;color: darkgrey; ">4 &#128542; 4</h1>
                    <p style="color: darkgrey;">Sorry, but the page you were trying to view does not exist.</p>
                </div>
            </fieldset>
        </form>
</body>

</html>