{% extends 'pages/base.html' %}

{% block content %}
<!doctype html>
<html lang="en">

<head>
    <link rel="stylesheet" href="./style.css" >
</head>


<body align="center">

    <div class="recipeentry" style="width:75%;margin: auto;">
        <form action="/recipe/post" method="post"><input name="__RequestVerificationToken" type="hidden" />
            <fieldset>
                <legend>
                    <h3>Favorite</h3>
                </legend>
                <div>
                </div>
                <div class="row">
                    <div class="column">
                        <div class="card">
                            <img src="" alt="recipe image" style="width:100%">
                            <p>Recipe Title.</p>
                            <p><button>View Recipe</button></p>
                        </div>
                    </div>
                    <div class="column">
                        <div class="card">
                            <img src="" alt="recipe image" style="width:100%">
                            <p>Recipe Title.</p>
                            <p><button>View Recipe</button></p>
                        </div>
                    </div>
                    <div class="column">
                        <div class="card">
                            <img src="" alt="recipe image" style="width:100%">
                            <p>Recipe Title.</p>
                            <p><button>View Recipe</button></p>
                        </div>
                    </div>
                    <div class="column">
                        <div class="card">
                            <img src="" alt="recipe image" style="width:100%">
                            <p>Recipe Title.</p>
                            <p><button>View Recipe</button></p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="column">
                        <div class="card">
                            <img src="" alt="recipe image" style="width:100%">
                            <p>Recipe Title.</p>
                            <p><button>View Recipe</button></p>
                        </div>
                    </div>
                    <div class="column">
                        <div class="card">
                            <img src="" alt="recipe image" style="width:100%">
                            <p>Recipe Title.</p>
                            <p><button>View Recipe</button></p>
                        </div>
                    </div>
                    <div class="column">
                        <div class="card">
                            <img src="" alt="recipe image" style="width:100%">
                            <p>Recipe Title.</p>
                            <p><button>View Recipe</button></p>
                        </div>
                    </div>
                    <div class="column">
                        <div class="card">
                            <img src="" alt="recipe image" style="width:100%">
                            <p>Recipe Title.</p>
                            <p><button>View Recipe</button></p>
                        </div>
                    </div>
                </div>
    </div>
    </fieldset>

    </form>
    </div>
    </div>
</body>

</html>
{% endblock %}