{% extends 'pages/base.html' %}

{% block content %}
<!doctype html>
<html lang="en">

<body align="center">

    <div class="jumbotron" style ="padding: 1rem 1rem;">
        <form action="/recipe/post" method="post"><input name="__RequestVerificationToken" type="hidden" />
            <fieldset>
                <div>
                </div>
                {% for favorite in favorite_list%}  
                <div class="row">
                    <div class="column">
                        <div class="card">
                            <img width="320" height="300" alt={{favorite.name}} src={{favorite.image}} />
                            <p> {{recipe.name}} </p>
                            <p><a href={{favorite.instruction}} target="_blank"><button>View Recipe</button></a></p>
                        </div>
                    </div>
                </div>
                {% endfor %}  
            </fieldset>
        </form>
    </div>
    </fieldset>

    </form>
    </div>
    </div>
</body>

</html>
{% endblock %}
