{% extends 'pages/base.html' %}

{% block content %}
<!doctype html>
<html lang="en">
<head>
    <style>
        #text {
            display: block;
            width: 180px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            }
    </style>
</head>
<body align="center">

    <div class="jumbotron" style ="padding: 1rem 1rem;">
        <fieldset>
            <div>
            </div>
            <div class="row">
            {% for favorite in favorite_list%}
                <div class="column">
                    <div class="card">
                        <img  alt={{favorite.name}} src={{favorite.image}} style="width:100%">
                        <p><span id="text"> {{favorite.name}} </span></p>
                        <p ><a  href={{favorite.instruction}} target="_blank"><button >View Recipe</button></a></p>
                    </div>
                    <p></p>
                </div>
            {% endfor %}  
            </div>
        </fieldset>
    </div>
    </fieldset>

    </form>
    </div>
    </div>
</body>

</html>
{% endblock %}
