{% extends 'pages/base.html' %}
{% block content %}

<!DOCTYPE html>
<html>

<body>
    <script>

        function toggleElement(id) {
            if (document.getElementById(id).style.display == 'none') {
                document.getElementById(id).style.display = '';
            }
            else {
                document.getElementById(id).style.display = 'none';
            }
        }
    </script>
    <table align="center">
        <tr>
            <td>
                <details>
                    <summary style="font-size:12pt;">How do I find new recipe?</summary>
                    <p>.</p>
                </details>
            </td>
        </tr>
        <tr>
            <td>
                <details>
                    <summary style="font-size:12pt;">How do I add new Recipe?</summary>
                    <p>.</p>
                </details>
            </td>
        </tr>
        <tr>
            <td>
                <details>
                    <summary style="font-size:12pt;">How do I update my profile?</summary>
                    <p>.</p>
                </details>
            </td>
        </tr>
        <tr>
            <td>
                <details>
                    <summary style="font-size:12pt;">Where can I find my favorite recipe?</summary>
                    <p>.</p>
                </details>
            </td>
        </tr>
        <tr>
            <td>
                <details>
                    <summary style="font-size:12pt;">How do I like(favorite) and dislike recipes?</summary>
                    <p>.</p>
                </details>
            </td>
        </tr>
        <tr>
            <td>
                <details>
                    <summary style="font-size:12pt;">How do I add new ingredients into pantry?</summary>
                    <p>.</p>
                </details>
            </td>
        </tr>
        <tr>
            <td>
                <details>
                    <summary style="font-size:12pt;">Where can I find list of available ingredients?</summary>
                    <p>.</p>
                </details>
            </td>
        </tr>




    </table>

</body>

{% endblock %}