{% extends 'pages/base.html' %}
{% block content %}

<!DOCTYPE html>
<html>

<body>
    <script>

        function toggleElement(id) {
            if (document.getElementById(id).style.display == 'none') {
                document.getElementById(id).style.display = '';
            }
            else {
                document.getElementById(id).style.display = 'none';
            }
        }
    </script>
    <table align="center">
        <tr>
            <td>
                <details>
                    <summary style="font-size:12pt;">How do I find new recipe?</summary>
                    <p>Click on Home button and you will be directed to a page where you can find all new recipes.</p>

                </details>
            </td>
        </tr>
        <tr>
            <td>
                <details>
                    <summary style="font-size:12pt;">How do I add new Recipe?</summary>
                    <p>When you click on Add Recipe tab from the menu you will be directed to a page where user can add
                        their recipe.</p>
                </details>
            </td>
        </tr>
        <tr>
            <td>
                <details>
                    <summary style="font-size:12pt;">How do I update my profile?</summary>
                    <p>Under the profile tab select edit setting where user will be able to update their profile
                        information.</p>
                </details>
            </td>
        </tr>
        <tr>
            <td>
                <details>
                    <summary style="font-size:12pt;">Where can I find my favorite recipe?</summary>
                    <p>Favorite recipe is located under profile tab named My Favorite</p>
                </details>
            </td>
        </tr>
        <tr>
            <td>
                <details>
                    <summary style="font-size:12pt;">How do I like(favorite) and dislike recipes?</summary>
                    <p>From Home page where you see new recipe there is two oprion on right and left to like and dislike
                        recipes.</p>
                </details>
            </td>
        </tr>
        <tr>
            <td>
                <details>
                    <summary style="font-size:12pt;">How do I add new ingredients into pantry?</summary>
                    <p>You can add new Ingredients into the system from the form under the Add Ingredients tab.</p>
                </details>
            </td>
        </tr>
        <tr>
            <td>
                <details>
                    <summary style="font-size:12pt;">Where can I find list of available ingredients?</summary>
                    <p>List of Available ingredients is available under profile tab on the My Pantry </p>
                </details>
            </td>
        </tr>




    </table>

</body>

{% endblock %}