{% extends 'pages/base.html' %}
{% block content %}
<!doctype html>
<html lang="en">

<head>
    <style>
        legend {
            width: 50px;
            padding: 2px;
            margin-left: calc(50% - - 8px);
        }
    </style>
</head>
<title>Romaine Calm</title>

<body align=" center">
    <div class="recipeentry" style="width:75%;margin: auto;">
        <form action="/home/" method="post"> <input name="__RequestVerificationToken" type="hidden" /> <input name="submit" value={{r.recipe_id}} type="hidden" />
            {% csrf_token %}
            <fieldset>
                <div>
                </div>
                <div style="width:95%;">
                    <div>
                        <a name="dataEntry"></a>
                        <div class="form-group" style="width:100%;">
                            <label for="Title"> {{recipe.name}} </label><br />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <table align="center">
                        <tr>
                            <td>
                                <input type="image" src="../static/Image/unlike.jpg" name="unlike" width="48"
                                    height="48" alt="unlike" />
                            </td>
                            <td></td>
                            <td></td>
                            <td>
                                <img width="320" height="300" alt={{recipe.name}} src={{recipe.image}} />
                            </td>
                            <td></td>
                            <td></td>
                            <td>
                                <input type="image" name="like" src="../static/Image/like.jpg" width="48" height="48"
                                    alt="like" />
                            </td>
                        </tr>
                    </table>
                </div>
            </fieldset>
        </form>
    </div>
</body>
</html>
{% endblock %}