{% extends 'pages/base.html' %}
{% block content %}
<!doctype html>
<html lang="en">

<head>
    <style>
        legend {
            width: 50px;
            padding: 2px;
            margin-left: calc(50% - - 8px);
        }
    </style>
</head>
<title>Romaine Calm</title>

<body align=" center">
    <div class="jumbotron" >
        <form action="/recipe/post" method="post"><input name="__RequestVerificationToken" type="hidden" />
            <fieldset>
                <div>
                </div>
                <div style="width:95%;">
                    <div>
                        <a name="dataEntry"></a>
                        <div class="form-group" style="width:100%;">
                            <label for="Title"> {{recipe.name}} </label><br />
                        </div>
                    </div>
                </div>
                <br />
                <br />
                <div></div>
                <div>
                    <div>
                        <img width="320" height="300" alt={{recipe.name}} src="{{recipe.image}}" />
                    </div>
                </div>
                <div>
                    <div>
                        <button type="button">Like</button>
                        <button type="button">Dislike</button>
                    </div>
                </div>
                <!-- <div>
                    <b><label for="Ingredient">Ingredient </label></b>
                    <ul class='a'>
                        {% for line in recipe.ingredients%}
                        <li class='b'> {{line}} </li>
                        {% endfor %}
                    </ul>
                </div> -->
                <!-- <div>

                    <b><label for="Instruction"> <a href={{recipe.instruction}} target="_blank">View Instructions
                                here</a></label></b>
                </div> -->
            </fieldset>
            <div>
                <br />
            </div>
        </form>
    </div>

    </div>
    </div>
    </div>
</body>

</html>

{% endblock %}