{% extends 'pages/base.html' %}
{% block content %}
<!doctype html>
<html lang="en">

<body>
    <div class="wrapper">
        <div class="container">        
            <div class="jumbotron homepage-hero hidden-xs">
                <div class="homepage-hero-content">
                    <ul>
                        <li><a class="active" href='/'>Home</a></li>
                        <li><a href="/profile">My Profile</a></li>
                        <li><a href="/add_recipe/">Add Recipe</a></li>
                        <li><a href="/recipes/">Find Recipe</a></li><!-- This will be list of recipes to choose from-->
                        <li><a href="/help/">Help</a></li>
                        <li><a href="/logout">Logout</a></li>
                    </ul>
                    <h1 class="text-shadow hometitle centered"
                        style="color:#fff; background-color: #b2b2b2; font-weight: bold; text-align: center;">Romaine
                        Calm</h1>
                    <div class="recipeentry" style="width:95%;">
                    <form action="/recipe/post" method="post"><input name="__RequestVerificationToken" type="hidden" />
                        <fieldset>
                            <legend>
                                <h2>Recipe</h2>
                            </legend>
                            <div style="width:95%;">
                                <div style="float:left;width:100%;">
                                    <a name="dataEntry"></a>
                                    <div class="form-group" style="width:100%;">
                                        <label for="Title"> <h3> {{recipe.name}}</h3> </label><br />
                                    </div>
                                </div>
                            </div>
                            <br />
                            <br />
                            <div></div>
                            <div>
                                <div>
                                    <img width="400" alt= {{recipe.name}}
                                        src={{recipe.image}} />

                                </div>
                            </div>
                            <br>
                            <div>
                                <b><label for="Ingredient">Ingredient </label></b>
                                <ul class='a'>
                                {% for line in recipe.ingredients%}     
                                    <li class ='b'> {{line}} </li>
                                {% endfor %}   
                                </ul>
                            </div>
                            <br>
                            <div>
                                <b><label for="Instruction"> <a href = {{recipe.instruction}} target="_blank">View Instructions here</a></label></b>
                            </div>
                        </fieldset>
                        <div>
                            <br />
                        </div>
                    </form>
                </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>

{% endblock %}